<p id="notice"><%= notice %></p>
<section class='home'>
  <aside>
    <%= image_tag @post.images.first.photo.url(:large) %>
  </aside>
  <article>
    <p>

      <strong><%= @post.subtitle %></strong>
    </p>
    <p>
    <%= @post.description %>
    </p>
  </article>
</section>
